@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    font-family: 'Open Sans', sans-serif;
    color: white;
}
.btn-primary{
  @apply text-center px-[30px] py-2 bg-primary cursor-pointer rounded-3xl hover:opacity-70 transition-all
}

.btn-success{
  @apply text-center px-[30px] py-2 bg-success cursor-pointer rounded-3xl hover:opacity-70 transition-all
}

.btn-secondary{
  @apply text-center px-[30px] py-2 bg-secondary cursor-pointer rounded-3xl hover:opacity-70 transition-all
}

.header-FaCompenent{
  @apply cursor-pointer hover:text-primary transition-all
}
.slick-dots {
  @apply !flex justify-start w-full;
}

.slick-dots .slick-active div {
  @apply bg-primary;
}

.slick-dots div {
  @apply !m-0 !mt-8;
}
